<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">

<!-- to comment -->
<!-- <servlet>
	<servlet-name>UserAuthentication</servlet-name>
	<servlet-class>com.userauthentication.UserAuthenticationServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>UserAuthentication</servlet-name>
	<url-pattern>/api/v1/auth</url-pattern>
</servlet-mapping> -->


<servlet>
	<servlet-name>GeneralServlet</servlet-name>
	<servlet-class>com.music_player.api.common.GeneralServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>GeneralServlet</servlet-name>
	<url-pattern>/api/v1/*</url-pattern>
</servlet-mapping>

</web-app>